
@{
    ViewBag.Title = "Category Add";
}
<h2>Add Category</h2>

<form method="POST" action="AddCategory">
    <div class="form-group">
        <label for="categoryTitle">Category Title</label>
        <input type="text" class="form-control" id="CategoryTitle" name="CategoryTitle" aria-describedby="CategoryTitle" placeholder="Enter category title" required>
    </div>
    <button type="submit" class="btn btn-primary">Add Category</button>
</form>